@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');
body,*{
	font-family: 'Roboto', sans-serif;
}
:root{
	--black-color:#1c315f;
	;
	}
.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0);
    margin-right: 10px;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 30px;
    transition: .3s;
    cursor: pointer;
}
.navbar-light .navbar-nav .nav-link:hover {
    background:#0c66ff;
    color:#f8f9fa;
}
.banner-section{
	;
}
.banner-content{
	padding: 80px 0;
}
.banner-content h1{
	color:var(--black-color);
	font-size: 53px;
	line-height: 65px;
	max-width: 556px;
	margin: auto;
	
}
.banner-content h1 span{
	color:#0c66ff;
}
.banner-content p{
	font-size: 17px;
	max-width: 830px;
	margin: auto;
	margin-top: 22px;
	line-height: 34px;
}
.success-section{
	padding: 50px 0;
}
.success1{
    margin-left: 221px;
}
.success1 h1{
	color:#f15767;
	margin-left: 215px;
}
.success1 p{}
.success2{
    margin-right: 230px;
}
.success2 h1{
	color:var(--black-color);
}
.create{
	padding: 50px 0;
}
.create1{
	background: #fdebed;
	min-height: 415px;
}
.create1:hover{}
 h2{
    font-size: 28px;
    margin-left: 15px;
    margin-top: 10px;
}

.create1 p{
    margin-left: 15px;
}
.create2{
	background: #ebf9f4;
}
.create:hover{}

.create2 p{}
.create3{
	background: #fff7e8;
}

.create3:hover{}

.create3 p{}
.copyright{
	 background:#0c66ff;
	 padding: 20px;
	 font-size: 23px;
}
footer{
	padding: 30px 0;
}
.copyright a{
	color:#fff;
	text-decoration: none;
	font-size: 23px;
}
.copyright a:hover{
	background: f8f9fa;
	color:#333;
}